<script>
  import { setupI18n } from "./i18n";
  import { _ } from "./i18n";

  // toml stuff
  import { onMount } from "svelte";
  import { parse, stringify } from "smol-toml";

  // Todo things

  import { slide } from "svelte/transition";
  import { elasticInOut } from "svelte/easing";

  // end todo
  setupI18n({ withLocale: "en" });

  import { createEventDispatcher } from "svelte";
  import { each } from "svelte/internal";

  // importing categories from json file
  import categories_full from "./dictionary.json";

  let dispatch = createEventDispatcher();

  //Variables
  let image_link;
  let full_name = "";
  let user_description;
  let user_payment_methods = [];
  let profile_image;
  let hour_price;

  // Service variables
  let service_tags = [];
  let service_image;
  let service_price;
  let service_title;
  let service_category = "Translation";
  let service_sub_category;
  let service_description;

  console.debug("categories_full", categories_full);

  // Use keys of full categories to create categories list
  const categories = Object.keys(categories_full);

  // let websites = ["Github", "Gitlab", "Codeberg", "Website", "Fiverr", "Upwork", "Freelancer", "Twitter", "Nostr", "Medium"]

  let links = {};
  let toml_content;
  let website_link = [];

  let user_social_media;
  let hiddenAddService = false;
  let hiddenShowService = false;

  let available_payment_methods = [
    "Crypto Currency",
    "Western Union",
    "PayPal",
    "CashApp",
    "Apple Pay",
  ];

  //let tags;
  let user_skills = [];

  let user_services = [];

  let active_tab;

  // Function to get uniqe values
  function onlyUnique(value, index, array) {
    return array.indexOf(value) === index;
  }

  $: get_tags = () => {
    let tags = [];
    let filtered_tag = [];
    user_services.forEach((item) => {
      tags = [...tags, item.category, item.sub_category];
    });
    filtered_tag = tags.filter(onlyUnique);
    return [...user_skills, ...filtered_tag];
  };

  // Json schema to build Toml file
  $: schema = {
    file_version: "0.1",
    data: {
      name: full_name,
      website: website_link,
      profile_image: profile_image,
      user_description: user_description,
      payment_methods: user_payment_methods,
      price: hour_price,
    },
    services: user_services,
    tags: get_tags(),
  };

  console.debug("schema", schema);

  $: toml = stringify(schema);
  console.debug("toml", toml);

  let input_url;
  let count = 0;
  function increment() {
    count += 1;
    return count;
  }

  function addService() {
    console.debug("Inside addService function");
    console.debug("input: ", service_title);
    if (service_title) {
      user_services = [
        ...user_services,
        {
          category: service_category,
          sub_category: service_sub_category,
          title: service_title,
          description: service_description,
          price: service_price,
          service_image: [service_image],
          id: Math.random().toString(36).substr(2, 9),
        },
      ];
    }
  }

  function showService(service) {
    service_category = service.category;
    service_sub_category = service.sub_category;
    service_title = service.title;
    service_description = service.description;
    service_price = service.price;
    service_image = service.service_image;
    console.debug("service", Object.keys(service));
    console.debug("clicked tab id is", service.id);
    console.debug("active_tab tab is", active_tab);
  }

  console.debug(user_services);
  input_url = "";

  function addWebsite() {
    if (input_url) {
      website_link = [
        ...website_link,
        {
          text: input_url,
          id: Math.random().toString(36).substr(2, 9),
        },
      ];
    }
    console.debug(website_link);
    input_url = "";
  }

  function removeWebsite(id) {
    const index = website_link.findIndex((website) => website.id === id);
    website_link.splice(index, 1);
    website_link = website_link;
  }

  let items = ["first", "second"];
  let activeItem = "first";
</script>

<main>
  <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
  <h1>Hello {full_name}!</h1>
  <img src={profile_image} alt="Profile image place" />
  <br />
  <br />

  <form on:submit|preventDefault>
    {$_("header.about")}
    <fieldset id="forms__input">
      <legend>{$_("home.profile")}</legend>
      <p>
        <label for="input__text">{$_("home.name")}</label>
        <input
          id="input__text"
          type="text"
          placeholder="Text Input"
          bind:value={full_name}
        />
      </p>
      <p>
        <label for="input__password">{$_("home.description")}</label>
        <textarea
          id="textarea"
          rows="8"
          cols="48"
          placeholder="Enter your message here"
          bind:value={user_description}
        />
      </p>
      <p>
        <label for="input__webaddress">{$_("home.profile_image")}</label>
        <input
          id="input__webaddress"
          type="url"
          placeholder="http://yoursite.com"
          bind:value={profile_image}
        />
      </p>
      <p>
        <label for="input__text2">{$_("home.hour_price")}</label>
        <input
          id="input__text2"
          type="number"
          placeholder="Enter a Number"
          bind:value={hour_price}
        />
      </p>
      <legend>{$_("home.payment_methods")}</legend>
      <br />
      <div class="row">
        {#each available_payment_methods as payment_method}
          <div class="col">
            <label for="checkbox1">
              <input
                id={"checkbox" + "1"}
                name="checkbox"
                type="checkbox"
                value={payment_method}
                bind:group={user_payment_methods}
              />
              {payment_method}
            </label>
          </div>
        {/each}
      </div>
    </fieldset>
    <br />
    <fieldset id="add_website">
      <legend>Add Links</legend>

      {#each website_link as website, index}
        <div class="row">
          <div class="col">{website.text}</div>
          <div class="col-1">
            <button
              class="button is-text is-pulled-right is-small"
              on:click={() => removeWebsite(website.id)}
            >
              <span class="icon">
                <i class="fas fa-check">X</i>
              </span>
            </button>
          </div>
        </div>
      {/each}


      <input
        type="url"
        name="input__text7"
        id="input__text7"
        placeholder="URL"
        bind:value={input_url}
      />
      <button class="button primary" on:click={addWebsite}>Add</button>
    </fieldset>
    <br />

    <!-- Add service section -->
    <fieldset id="add_services">
      <legend>{$_("home.add_service")}</legend>
      <nav class="tabs">
        {#each user_services as service}
          <a
            on:click={() => {
              active_tab = service;
            }}
            on:click={() => {
              showService(service);
            }}
            class:active={service === active_tab}>{increment()}</a
          >
        {/each}
        <a>Add...</a>
      </nav>
      <br />

      <addService hidden={hiddenAddService}>
        <input
          id="input__text"
          type="text"
          placeholder="Service title"
          bind:value={service_title}
        />

        <!-- Category section -->
        <select bind:value={service_category}>
          {#each categories as category, index}
            <option>{category}</option>
          {/each}
        </select>

        <!-- Sub category section -->
        <select bind:value={service_sub_category}>
          {#each categories_full[service_category] as sub_category, index}
            <option>{sub_category}</option>
          {/each}
        </select>
        <textarea
          id="textarea"
          rows="8"
          cols="48"
          placeholder="Describe your service here"
          bind:value={service_description}
        />
        <label for="input__text2">{$_("home.service_price")}</label>
        <input
          id="input__text2"
          type="number"
          placeholder="Enter a Number"
          bind:value={service_price}
        />
        <label for="input__webaddress">{$_("home.service_image")}</label>
        <input
          id="input__webaddress"
          type="url"
          placeholder="http://yoursite.com/image.jpg"
          bind:value={service_image}
        />
        <button class="button primary" on:click={addService}
          >{$_("home.add")}</button
        >
      </addService>
    </fieldset>
    <!-- End of Add service section -->

    <br />
    <fieldset id="Toml Export">
      <p>
        <label for="input__text5">{$_("home.toml_content")}</label>
        <textarea
          id="textarea"
          rows="8"
          cols="48"
          placeholder={$_("home.toml_content")}
          bind:value={toml}
          readonly
        />
      </p>
    </fieldset>
    <br />
    <!-- End of add service section -->
  </form>
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }

  img {
    max-height: 500px;
    max-width: 500px;
    height: auto;
    width: auto;
  }
  /* .active{
  color: #d91b42;
  border-bottom: 2px solid #d91b42;
  padding-bottom: 8px;
} */
</style>
